.feedback {
   margin-top: 15px;
   .feedback__title {
      text-align: center;
      margin-bottom: 20px;
   }
   .feedback__item {
      margin-bottom: 10px;
      width: 100%;
      .feedback__input {
         width: 100%;
         padding: 9px 15px;
         box-sizing: border-box;
      }
      .feedback__error {
         font-size: 11px;
         color: red;
         line-height: 0.9em;
         margin-top: 4px;
      }

   }
   .feedback__item_textarea {
      .feedback__error {
         margin-top: -6px;
      }
   }
   .feedback__btn {
      display: block;
      padding: 10px 0;
      font-size: 16px;
      margin: 0 auto;
   }
}